body {
  margin: 0;
  padding: 0;
}

.signup{
  width: 22%;
}

.jumbotron{
  min-height: 50vh;
  background-image: url('../img/jumbotronBackground.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.navbar-background{
  background-color: #660099;
}
.item-description{
  border: 2px solid black;
  padding: 5px;
  height: 150px;
}
.item-img {
  max-width: 80%;
  height: 20vw;
}

.card {
  margin: 1rem;
}

.items-container .card-img-top {
  width: 100%;
  height: 25vw;
  object-fit: cover;
  border: black 1px solid;
}

.results-container .card-img-top {
  width: 100%;
  height: 20vw;
  object-fit: cover;
  border: black 1px solid;
}

.class-text {
  margin: 0;
  padding: 0;
}

.title {
  font-size: 3rem;
}

/* captcha */

