<!DOCTYPE html>
<html>
<body style="background-color:lavender;">
<body>
  <h1> </h1>
  <center><h1><%=name%></h1></center>
  <center><img src="<%=img%>" alt="Me" width="400" height="300"></center>
</body>
</html>
