<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Beibei Jiang's personal page</title>
     <link rel="stylesheet" type="text/css" href="./beibei_jiang/style.css">
     <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
  </head>
  <body>
   <div class="wrapper"> 
    <div class="left">
      <img class="profile-picture" src="<%=img %>" width="300"/>
      <h1 class="name"><%=name %></h1>
      <h4 class="subtitle"></h4>
    </div>
    
    <div class="right">
        <p><%=intro%></p>
        <ul class="social-links">
          <li><a href="https://www.linkedin.com/in/beibei-jiang-392119192/">Linkedin</a></li>
        </ul>
    </div>
    
  </div>
  </body>
</html>
