<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="/static/styles/about.css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="container">
    <div class="row">
        <div class="heading-title text-center">
            <h1 class="text-uppercase">Team 12 </h1>
        </div>

        <div class="col-md-4 col-sm-4">
            <div class="team-member">
                <div class="team-img">
                    <img src="https://i.imgur.com/TM1FNwz.jpg" alt="team member" class="img-responsive">
                </div>
                <div class="team-hover">
                    <div class="desk">
                        <h4>Team Lead, Back-end Developer & Github Master</h4>
                    </div>
                </div>
            </div>
            <div class="team-title">
                <h5>Beibei Jiang</h5>
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="team-member">
                <div class="team-img">
                    <img src="https://secure.gravatar.com/avatar/708dc88ce629f35288eaa787b46f9f63?s=256" alt="team member" class="img-responsive">
                </div>
                <div class="team-hover">
                    <div class="desk">
                        <h4>Back-end Lead</h4>
                    </div>
                </div>
            </div>
            <div class="team-title">
                <h5>Jesse Smick</h5>
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="team-member">
                <div class="team-img">
                    <img src="https://i.imgur.com/JzBmfsi.jpg" alt="team member" class="img-responsive">
                </div>
                <div class="team-hover">
                    <div class="desk">
                        <h4>Front-end Lead</h4>
                    </div>
                </div>
            </div>
            <div class="team-title">
                <h5>Jingyin Ren</h5>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-md-4 col-sm-4">
            <div class="team-member">
                <div class="team-img">
                    <img src="https://i.imgur.com/v066SIF.jpg" alt="team member" class="img-responsive">
                </div>
                <div class="team-hover">
                    <div class="desk">
                        <h4>Front-end Developer</h4>
                    </div>
                </div>
            </div>
            <div class="team-title">
                <h5>Angelo Solitario</h5>
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="team-member">
                <div class="team-img">
                    <img src="https://i.imgur.com/7QnwrRL.jpg" alt="team member" class="img-responsive">
                </div>
                <div class="team-hover">
                    <div class="desk">
                        <h4>Back-end Developer</h4>
                    </div>
                </div>
            </div>
            <div class="team-title">
                <h5>Jinghan Cao</h5>
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="team-member">
                <div class="team-img">
                    <img src="https://i.imgur.com/MmJeKzj.jpg" alt="team member" class="img-responsive">
                </div>
                <div class="team-hover">
                    <div class="desk">
                        <h4>Front-end Developer</h4>
                    </div>
                </div>
            </div>
            <div class="team-title">
                <h5>Melissa Endang</h5>
            </div>
        </div>

    </div>

</div>