<%include ./partials/header.ejs%> <%include ./partials/classtext.ejs%>

<div class="landing">
  <div class="background">
    <h1>Helping students buy and sell</h1>
    <h2>Don't buy and sell on your own.</h2>
    <form class="text-center">
      <button class="text-center btn btn-primary" type="button">
        Start Browsing!
      </button>
    </form>
  </div>
  
</div>

<%include ./partials/footer.ejs%>
