<%include ./partials/header.ejs%>
<div class="container signup">
    <h2 class="text-center">LOGIN</h2>
    <div class="form">
        <form>
            <div class="form-group">
                <label for="">Email:</label>
                <input class="form-control" type="text" required />
            </div>
            <div class="form-group">
                <label for="">Password:</label>
                <input
                    id="apassword"
                    name="apassword"
                    class="form-control"
                    type="password"
                    required
                />
            </div>
            <div class="form-group text-center">
                <button class="btn btn-success btn-lg">
                    Login
                </button>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col">
            <p><a href="#">Forgot Email? </a></p>
            <p><a href="#">Forgot Password? </a></p>
        </div>
        <div class="position-relative text-right col">
            <p>Don't have an account? <a href="/signup">Sign Up </a></p>
        </div>
    </div>
</div>

<%include ./partials/footer.ejs%>
