<!-- login page -->
<% title = 'Login'; jsFiles = ['/static/js/captcha.js']; cssFiles = []; %>

<%include ./partials/header.ejs%>
<%include ./partials/navbar.ejs%>
<div class="gatorText">
  <h1 class="text-center">Gator Store</h1>
</div>

<div class="container form-container">
  <div class="login">
    <h2 class="text-center">LOGIN</h2>
    <div class="form">
      <small>*All fields are mandatory</small>
      <form method="POST" action="/login" onsubmit="return checkform(this)">
        <div class="form-group">
          <label for="">Email:</label>
          <input name="email" class="form-control" type="text" required />
        </div>
        <div class="form-group">
          <label for="">Password:</label>
          <input
            id="apassword"
            name="password"
            class="form-control"
            type="password"
            required
          />
        </div>

        <% if (flash.length > 0) { %>
          <div class="alert alert-danger"><%= flash.map(f => f.message).join(' ') %></div>
          <% flash.splice(0, flash.length); // remove all messages %>
        <% } %>

        <!-- captcha -->
        <div class="capbox form-group text-center">
          Please enter the number:
          <span id="CaptchaDiv"></span>
          <input type="hidden" id="txtCaptcha" value="" />
          <input type="text" name="CaptchaInput" id="CaptchaInput" size="15" />
          <br />
        </div>
        <!-- end of captcha -->
        <div class="form-group text-center">
          <button class="btn btn-success btn-lg">
            Login
          </button>
        </div>
      </form>
    </div>
    <div class="row">
      <div class="col">
        <p><a href="#">Forgot Email? </a></p>
        <p><a href="#">Forgot Password? </a></p>
      </div>
      <div class="pr-3">
        <p>Don't have an account? <a href="/signup">Sign Up </a></p>
      </div>
    </div>
  </div>
</div>

<%include ./partials/footer.ejs%>
