<html>
<head>
    <meta charset="utf-8"/>
    <title>Post Item</title>
    <link rel="stylesheet" type="text/css" href="static/styles/post.css"/>
</head>

<body>
<div class="header">
    <h1>Gator Store</h1>
</div>

<div class="navbar">
    <!-- <a href="#">Home</a>
     <a href="#">Link</a>
     <a href="#">Link</a> -->
</div>

<h2>Post Items</h2>
<div class="container">

    <form action="/postItem" enctype="multipart/form-data" method="post">
        <div class="row">
            <div class="col-25">
                <label for="title">Title</label>
            </div>
            <div class="col-75">
                <input type="text" id="title" name="title" placeholder="name,brand,year..." spellcheck="true" size = "55">

            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label for="price">Price</label>
            </div>
            <div class="col-75">
                <input type="text" id="price" name="price" placeholder="$" size = "30">
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label for="category">Category</label>
            </div>
            <div class="col-75">
                <select id="category" name="category">
                    <option value="2">Book</option>
                    <option value="1">Funiture</option>
                    <option value="3">Electronics</option>
                    <option value="4">Equipment</option>
                    <option value="5">Tutor</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label for="description">Description</label>
            </div>
            <div class="col-75">
                        <textarea id="description" name="description"
                                  placeholder="Type the description of item here..." style="height:200px; width:500px" spellcheck="true"></textarea>
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label for="picture">Pictures</label>
            </div>
            <div class="col-75">
                <input type="file" name="imageFile" multiple="multiple">
            </div>
        </div>

        <div class="row">
            <p>* Your posting will show and approve after 24 hours.</p>
        </div>

        <div class="row">
<!--            go back to home page-->
            <a href="/" class="button">Cancel</a>
            <input type="submit" value="Submit">
        </div>
    </form>
</div>
</body>
</html>