<%include ./partials/header.ejs%> <%include ./partials/classtext.ejs%> <%include
./partials/navbar.ejs%>

<div class="container-fluid">
    <div>
        <p>Showing <%=items.rows.length%> items</p>
    </div>
  <div class="text-right">
    <label for="">Sort by:</label>
    <select>
      <option value="Most Recent">Most Recent</option>
      <option value="Oldest">Oldest</option>
      <option value="Price: low to high">Price: low to high</option>
      <option value="Price: high to low">Price: high to low</option>
    </select>
  </div>

  <div class="row">
    <div class="col-2 d-none d-lg-block side mt-2 mb-2">
      <div>
        Sub Categories
      </div>
    </div>

    <div class="items-container col m-2">
      <div class="row">
          <!-- items are displayed here -->

          <%for(let item in items.rows){ %>
            <div class='col-md-4 col-sm-6 col-12'>
                <div class="card">
                    <h4 style='background: white;' class='position-absolute'>
                    <%=item.price%>
                    </h4>
                </div>
                <div class="card-body">

                </div>
            </div>
           <%}%>

      </div>
    </div>
  </div>
</div>
<%include ./partials/footer.ejs%>
