<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
    <link rel="stylesheet" href="./static/styles/home.css" />
    <script src="https://kit.fontawesome.com/cbf78f87f8.js" crossorigin="anonymous"></script>
    <title>Home Page</title>
</head>
<body>
    <div class="header">
        <div class="header-image"></div>
        <div class="header-title">
            <p class="title"> Gator Store </p>
        </div>
        <div class="header-login">
            <p>Admin</p>
            <p><a href="#">Sign In</a> | <a href="#">Log In</a></p>
        </div>
    </div>
    <div class="searchBar">
        <form action="" method="get">
            <input class="searchInput" type="text" placeholder="input to search" />
            <input type="submit" value="Search" />
        </form>
    </div>
    <div class="naviBar">
<!--        add something here-->
    </div>
    <div class="displayContainer">

    </div>



</body>
</html>