body{
    background: url("pics/bg.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Monospace', Lucida Console
}

.container{
    width: 70%;
    /*border: 1px solid black;*/
    margin: 10% auto;
}
.imgContainer{
    width: 40%;
}
.imgContainer img{
    width: 100%;
}
.upper{
    display: inline-flex;
}
.self-intro{
    margin-left: 3%;
}
.self-intro > p{
    font-size: 18px;

}
