<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-153866259-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-153866259-1');
    </script>

    <script type="text/javascript" src="/static/lib/jquery.js"></script>
    <script type="text/javascript" src="/static/lib/popper.min.js"></script>
    <script type="text/javascript" src="/static/lib/bootstrap.js"></script>
    <script
      src="https://kit.fontawesome.com/cbf78f87f8.js"
      crossorigin="anonymous"
      async
    ></script>

    <% for (let file of (typeof jsFiles != 'undefined' ? jsFiles : [])) { %>
      <script type="text/javascript" src="<%= file %>"></script>
    <% } %>

    <link rel="stylesheet" href="/static/lib/bootstrap.css" />
    <link rel="stylesheet" href="/static/styles/home.css" />

    <% for (let file of (typeof cssFiles != 'undefined' ? cssFiles : [])) { %>
      <link rel="stylesheet" href="<%= file %>" />
    <% } %>

    <title><%= typeof title == 'string' ? title + ' | ' : '' %>Gator Store</title>
  </head>
  <body>

    <!-- class text 'for educational purposes only' -->
    <h5 class="m-0 text-center bg-danger">
      SFSU Software Engineering Project Fall 2019 CSC 648/848. For demonstration
      only. #TEAM12
    </h5>


