<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
    <title>Show Result</title>
</head>
<body>
    <div>
        <li>
            <ul>id + title + descirpt</ul>
        </li>
    </div>
</body>
</html>
