<%include ./partials/header.ejs%>
<%include ./partials/navbar.ejs%>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Welcome to Gator Store!</h1>
        <p class="lead">
            This website is dedicated to San Francisco State University Students
        </p>
    </div>
</div>

<div class="container">
    <div class="text-right">
        <label for="">Sort by:</label>
        <select>
            <option value="Most Recent">Most Recent</option>
            <option value="Oldest">Oldest</option>
            <option value="Price: low to high">Price: low to high</option>
            <option value="Price: high to low">Price: high to low</option>
        </select>
    </div>
    <div class="row">
        <% /* %>
        
        <%data.forEach(item =>{%>
        <div class="col-lg-4 d-flex align-items-stretch">
            <div class="card">
                <h3 style="background: white;" class="position-absolute">
                    $<%=item.price%>
                </h3>

                <img src="<%=item.image%>" class="img-fluid card-img-top" />
                <div class="card-body">
                    <h5 class="card-title text-center">
                        <a href="#"><%=item.title%></a>
                    </h5>
                </div>
            </div>
        </div>
       <%})%>
       <% */ %>

    </div>
</div>
<%include ./partials/footer.ejs%>
